/* Commun */
body {
background-color: lightgray;
}

button {
	cursor: pointer;
	margin: 10px;
	margin-left: 30px;
	padding: 3px;
}
a {
	margin-left: 15px;
}

.conteneur {
	display: flex!important;
}

.textCenter {
	text-align: center!important;
}
.textLeft {
	text-align: left!important;
}
.textRight {
	text-align: right!important;
}
